.App {
  margin-top: 30px;
  font-family: sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Opçoes{
  width: 30%;
  padding: 5px;
  border-radius: 10px;
}

.CardPokemon{
  margin-top: 30px;
  font-family: sans-serif;
  text-align: center;
  box-shadow: 5px 5px 10px black;
  width: 30%;
  padding: 15px;
  border-radius: 10px;
}